body {
  font: 15px/1.5 Arial,Helvatica,sens-serif;
  /* font-size and line-height and font-family*/
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
ul {
  margin : 0;
  padding: 0;
  list-style: none;
}
.button_1 {
  height: 38px;
  background-color: #e8491d;
  border: none;
  padding: 0 20px 0 20px;
  color: #ffffff;
}

.dark {
  padding: 15px;
  background-color: #35424a;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

header {
  background-color: #35424a;
  color: #ffffff;
  padding-top: 20px;
  min-height: 60px;
  border-bottom: #e8491d 3px solid;
}
header a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
}
header li {
  float: left;
  display: inline;
  padding : 0 20px 0 20px;
}

header #Branding h1{
  margin: 0;
  font-size: 26px;
  /*display: inline;*/
}

header nav {
  float: right;
}

header .highlight, header .current {
  color: #e8491d;
  font-weight: bold;
}
header a:hover{
  color: #cccccc;
  font-weight: bold;
}

/* SHOWCASE*/

#showcase-area {
  min-height: 400px;
  max-width: 100%;
  background: url('../images/mesh.jpg') no-repeat 0 -10px;
  background-size: cover;
  text-align: center;
  color: white;
}

#showcase-area h1 {
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}

#showcase-area p {
  font-size: 20px;
}


/* NEWS LETTER*/
#newsletter {
  color: #ffffff;
  background-color: #35424a;
}
#newsletter h1 {
  float: left;
}
#newsletter form {
  float: right;
  margin-top: 15px;
}
#newsletter input[type = "email"] {
  padding: 4px;
  width: 250px;
  height: 25px;
}

/*SIDE - BAR*/
.main-col {
  float: left;
  width: 50%;
  box-sizing: border-box;
}

.side-bar {
  float: right;
  width: 30%;
  box-sizing: border-box;
}

/* BOXES */
#boxes {
  margin-top: 20px;
}
#boxes .box {
    float: left;
    text-align: center;
    width: 33.3%;
    box-sizing: border-box;
    padding: 10px;
}

#boxes .box img {
  width: 90px;
}

/* SERVICES */
#services li {
  border: 1px solid #cccccc;
  list-style: none;
  padding: 20px;
  margin-bottom: 5px;
  background-color: #e6e6e6;
}

.quote input, .quote textarea {
  width: 90%;
  padding: 5px;
}
/* FOOTER */
footer {
  margin: 0;
  background-color: #35424a;
}
footer p {
  margin: 0;
  color: white;
  text-align: center;
  padding: 10px;
}

/* MEDIA QUERIES */
@media(max-width: 768px){
  header #Branding,
  header nav,
  header li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  .main-col,
  .side-bar {
    float:none;
    text-align: center;
    width: 100%;
  }
  header {
    padding-bottom: 20px;
}
  #showcase h1 {
    margin-top: 40px;
  }
  #newsletter button{
    display: block;
    width: 100%;
  }
  #newsletter form input[type = "email"] {
    width: 100%;
    margin-bottom: 5px;
  }
}
