@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #333;
    color: #fff;
}

.container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
}

.container > div {
    height: 210px;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in;
}

.container > div:hover {
    opacity: 0.7;
    transform: scale(0.98);
}

h2 {
    font-size: 45px;
    font-weight: 300;
    margin: 10px;
}

h2 span {
    font-size: 30px;
}

.container > div:nth-of-type(1) {
    grid-column: 1/3;
}

.container > div:nth-of-type(6) {
    grid-column: 3/5;
}

.container > div:nth-of-type(9) {
    grid-column: 3/5;
}

.container > div:nth-of-type(10) {
    grid-column: 1/3;
}

.bg1 {
    background: url('https://i.ibb.co/dBLbrRV/bg1.jpg');
}

.bg2 {
    background: url('https://i.ibb.co/Fb5jb3J/bg2.jpg');
}